{% extends "base.html" %}


{% block content %}
        <div id="div-register" class="center-block"     style="width:350px;margin-top:80px;">
        <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.token.label }}<br>
            {{ form.token(size=40) }}
            {% for error in form.token.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}